@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}

h2 {
  font-size: 60px;
  line-height: 1.067em;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-family: "Old Standard TT", serif;
}

p {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  min-height: 300px;
}

.each-slide-effect span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 40vw;
  font-size: 20px;
  background: #efefef;
  background-color: rgba(255, 255, 255, 0.452);
  text-align: center;
}

#Texto-Invitacion {
  overflow: hidden;
  border-right: 2px solid rgb(255, 196, 1);
  white-space: nowrap;
  margin: 0;
  letter-spacing: 2px;
  animation: Escritura 10s steps(20) infinite;
}

@keyframes Escritura {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
